<div class="contianer">
  <div class="center">
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail images"><%= link_to 'Back', manufacturer_path %></div><br />
        <% @models.each do |model| %>
        <div class="thumbnail images">
          <div class="caption height: 250px;">
            <h3><%= model.name %></h3>
            <%= link_to model.name, codes_path(model.id), class: "btn btn-primary button" %>
          </div>
        </div>
        <% end %>
      </div>
    </div> 
  </div>
</div>  