<div class="contianer">
  <div class="center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div><%= link_to 'Back', manufacturer_path, class: "btn btn-custom" %></div><br />
        <% @models.each do |model| %>
        <div class="thumbnail title">
          <div class="caption height: 250px;">
            <h3><%= model.name %></h3>
            <%= link_to 'Codes', codes_path(model.id), class: "btn btn-custom button" %>
          </div>
        </div>
        <% end %>
          <div class="apple_pagination">
            <%= will_paginate @models, :page_links => false, previous_label:"Previous", next_label: "Next" %>
          </div> 
      </div>
    </div> 
  </div>
</div> 
      