
<div class="center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <% @makes.each do |make| %>
            <div class="thumbnail konica" style="background-color: <%= @color[make.name]%>;">
              <div class="caption">
                <h3><%= make.name%></h3>
                <%= link_to 'Models', makes_show_path(make), class: "btn btn-default", style: "color: #{@color[make.name]};" %>
              </div>
            </div>
        <% end %>
    </div>
  </div> 
</div>