<div class="contianer">
  <div class="center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% @models.each do |model| %>
          <div class="thumbnail konica" style="background-color: <%= @model_color[model.make_id] %>;">
            <div class="caption">
              <h3><%= model.name %></h3>
              <%= link_to 'Codes', codes_index_path(model.id), class: "btn btn-default", style: "color: #{@model_color[model.make_id]};" %>
            </div>
          </div>
      <% end %> <!-- end loop-->
          <div class="digg_pagination">
            <%= will_paginate @models, :page_links => false, previous_label:"Previous", next_label: "Next" %>
          </div> 
      </div>
    </div> 
  </div>
</div> 