<div class="container">
  <div class="jumbotron">
    <div class="main">
      <h1>Welcome to @Copiers</h1>
      <p>This site is dedicated to help copier technicians from all over the world, providing useful information to help troubleshoot and repair.<br />
      To get access to database and forum you must login or signup. <br /><strong>"It's free"</strong>
      <p><small id="login_button"><%= link_to "View error codes", makes_index_path, class: "btn btn-success" %></small></p>
    </div>
  </div>
</div>
