<div class="main">
  <h1>Welcome to @Copiers</h1>
  <p>This site is dedicated to help copier technicians from all over the world, providing useful information to help troubleshoot and repair.<br />
  To see the error codes and their solution please login or sign up.</p>
  <p><small id="login_button"><%= link_to "View error codes", user_session_path, class: "btn btn-success" %></small></p>
</div>