<div class="main">
  <h1>Welcome to @Copiers</h1>
  <p>This site is dedicated to help copier technicians from all over the world, providing useful information to help troubleshoot and repair</p>
  <p>To see the error codes and their solution please login or sign up<br /><span><%= link_to "View error codes", user_session_path, class: "btn btn-info" %></span></p>          
</div>
