/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixin and var's*/
@mixin transition($effect) {
  -webkit-transition: all $effect ms ease;
  -moz-transition: all $effect ms ease;
  -ms-transition: all $effect ms ease;
  -o-transition: all $effect ms ease;
  transition: all $effect ms ease;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;  /* Chrome, Safari, Opera */
  -moz-border-radius: $radius;    /* Mozila */
  -ms-border-radius: $radius;    /* IE 9 */
  border-radius: $radius;
}
@mixin transform($value) {
  -ms-transform: rotate($value);      /* IE 9 */
  -webkit-transform: rotate($value); /* Chrome, Safari, Opera */
  transform: rotate($value);
}
@mixin transform-origin($value) {
    -ms-transform-origin: $value $value;
    -webkit-transform-origin: $value $value;
    transform-origin: $value $value;
}
$orange-text: #e8702a;
$btn-hover: rgba(69, 69, 69, 0.9);
$snoWhite: #fffafa;
$body-color: rgba(238, 221, 187, 0.9);


/******************************************/

/* Main */
body {
  background-color: $body-color; 
  padding-top:  70px;
}

.main {
  padding: 2rem;
  margin: auto;

 h1 {
    text-align: center;
    color: $orange-text;
  }

  p{
    color: $snoWhite;
    text-align: center;
    strong { color: $orange-text; }
  }

  h2 { text-align: center; }

 small{
    padding-top: 1rem;
    text-align: center;
  }
}
.fixed {
  position: fixed;
  top: 6rem;
  left: 0;
  z-index: 999;
  width: 100%;
}
.title {
  display: inline-block;
  position: relative;
  width: 250px;
  background-color: #ae5a41;
  border: 0.09em solid #0c457d;
  box-shadow: 0px 0px 3px 3px #888888;
}


/* Button styles */
.button{
  width: 125px;
}
.btn-default { background-color: $snoWhite; }
.btn-default:hover {
  background-color: $btn-hover;
  color: $snoWhite;
  box-shadow: 0rem 0rem 0.3rem 0.2rem $snoWhite;
  border: 0.1rem solid #0ea7b5;
  @include transition(800)
}
.btn-primary {
  background-color: $orange-text;
  border: 0.1rem solid $orange-text;
}
.btn-primary:hover {
  background-color: $btn-hover;
  color: $snoWhite;
  box-shadow: 0rem 0rem 0.3rem 0.2rem $orange-text;
  border: 0.1rem solid $orange-text;
  @include transition(800)
}
.btn-success {
  background-color: #0ea7b5;
  border: 0.1rem solid #0ea7b5;
}
.btn-success:hover {
    background-color: $btn-hover;
    color: $snoWhite;
    box-shadow: 0rem 0rem 0.3rem 0.2rem #0ea7b5;
    border: 0.1rem solid #0ea7b5;
    @include transition(800)
}
.btn-danger { background-color: #cc2a36; }
.btn-danger:hover{
  background-color: rgba(238, 221, 187, 0.9);
    color: #000;
    border: 0.1rem solid #cc2a36;
    @include transition(800)
} /*End Button styles*/

.center {
  text-align: center;
}
.logo {
  font-family: 'Lucida Handwriting';
  font-size: 2em;
  font-variant: small-caps;
}
#text-color {
    color:  $orange-text;
}
#text-color:hover {
    color: $snoWhite;
    @include transition(800)
}
.caption { h3 { color: $snoWhite; } }
.box {
  background-color: $snoWhite;
  padding: 2rem;
  @include border-radius(10)
}
.nav-color { background-color: $btn-hover; }
.konica {
  display: inline-block;
  position: relative;
  width: 250px;
  border: 0.09em solid #0c457d;
  box-shadow: 0px 0px 3px 3px #888888;
}
.form-label-color { color: $orange-text; }
.post{
  background-color: $snoWhite;
  padding: 10px;
  border: 1px solid #333;
  @include border-radius(5)
}
.data {
  background-color: $snoWhite;
  padding: 0.8rem; 
  color: #333;
  font-size: 1em;
  word-spacing: 0px;
  text-decoration: none;
  border-bottom: 0.1em solid #acacac;
}
.scrol {
  height:750px;
  padding: 20px;
  overflow:auto; 
  background-color: $snoWhite;
}
.jumbotron { background-color: rgba(69,69,69, 0.9); }



/*Pagination style*/
.digg_pagination {
  cursor: default;
  /* self-clearing method: */ 
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; 
}
.digg_pagination .disabled {
    color: #000;
    border: 1px solid #000; 
}
.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; 
}
.digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; 
}
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; 
}
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; 
}
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; 
}
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
* html .digg_pagination {
    height: 1%; 
}
*:first-child + html .digg_pagination {
    overflow: hidden; 
}

/* Hamburger menu transition */
.navbar-toggle.collapsed {
  .top-bar {
    @include transform(0)
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    @include transform(0)
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;
  &:hover {
    background: transparent !important;
  }
  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    -ms-transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
    @include transform(45deg)
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    -ms-transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
    @include transform(-45deg)
  }
} /* End Hamburger transition */



