/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #949494;
  padding-top:  70px;
}
.images {
  display: inline-block;
  position: relative;
  width: 250px;
}
.button{
  width: 125px;
}
.center {
  text-align: center;
}
.logo {
  font-family: 'Lucida Handwriting';
  font-size: 2em;
  font-variant: small-caps;
}
#text-color:hover {
    color: #fff;
}
#text-color {
    color: #ff7373;
}
.caption h3 {
  color: #ff7373;
}
.caption h3:hover {
  color: #acacac;
}
.box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}












